<html>
    <head>
        <title>More Lions</title>
    </head>
    <body>
        <h2>Create a new Lion!</h2>
        <form action="/lions" method="post">
            Great Lion Name:
            <input type="text" name="name"><br>
            Great Lion Color:
            <input type="text" name="color"><br>
            Lion Age:
            <input type="text" name="age"><br>
            <input type="submit" value="Create">
        </form>
    </body>
</html>