<html>
    <head>
        <title>Show Me</title>
    </head>
    <body>
        <h2>Welcome to <%= data[0].name %>'s page</h2>
        <h4>Name:</h4> - <%= data[0].name %><br>
        <h4>Color:</h4> - <%= data[0].color %><br>
        <h4>Age:</h4> - <%= data[0].age %><br>
    </body>
</html>